.my-container {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid var(--primary);
  border-radius: 12px;
  max-width: 700px;
}

.setup-screen {
  color: var(--text);
}

.setup-screen h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 2.5rem;
  text-shadow:
    0 0 5px var(--primary),
    0 0 15px var(--primary);
}

.setup-screen h4 {
  font-size: 32px;
}

.setup-screen h6 {
  font-weight: bold;
  color: var(--misc-2);
  font-size: 20px;
}

.setup-screen .btn-start {
  background-color: var(--primary);
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 12px;
  width: 160px;
}

.setup-screen .btn-start:hover {
  background-color: var(--primary);
  color: black;
}

.setup-screen .btn-group {
  background-color: var(--misc-1);
  color: black;
}

.setup-screen .btn-group .btn {
  min-width: 120px;
  transition: 0.2s ease;
}

.setup-screen .btn-group .btn:hover {
  background-color: var(--misc-1);
}

.setup-screen .btn-group .btn-selected:hover {
  background-color: var(--misc-2);
}

.setup-screen .btn-selected {
  background-color: var(--misc-2);
  font-weight: bold;
}

/*Styling for symbols input checkbox*/
.setup-screen .form-check-input:checked {
  background-color: var(--misc-2);
  border-color: var(--misc-1);
}

.setup-screen .form-check-input:focus {
  box-shadow: none;
  outline: none;
}

/*Icons Styling*/

#lightning {
  color: yellow;
}

#heart {
  color: red;
}

#star {
  color: var(--misc-2);
}

.challenge-text {
  font-size: 1.1rem;
  font-weight: 500;
}
