#grid {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  gap: 10px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: var(--misc-1);
  border: 1px solid var(--misc-2);
}

.container {
  background-color: black;
  border: 1px solid var(--primary);
}
